@font-face {
    font-family: 'HelveticaNowText Bold';
    src: url(./media/font/HelveticaNowText-Medium/HelveticaNowText-Bold.ttf);
}
@font-face {
    font-family: 'HelveticaNowText Regular';
    src: url(./media/font/HelveticaNowText-Medium/HelveticaNowText-Regular.ttf);
}
@font-face {
    font-family: 'HelveticaNowText Medium';
    src: url(./media/font/HelveticaNowText-Medium/HelveticaNowText-Medium.woff);
}

@font-face
{
	font-family: FuturaBold;
	src: url(./media/font/Nike-Futura.woff2);
	font-weight: bold;
}

@font-face {
    font-family: 'HelveticaNowDisplay Medium';
    src: url(./media/font/HelveticaNowText-Medium/HelveticaNowDisplayMedium.woff2);
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HelveticaNowText Bold';
}

.jordan {
    background-color: #f5f5f5;
    padding: .5rem 3vw;
    display: flex;
    justify-content: space-between;
}

.jordan>img {
    height: 20px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}


.nav-links>li>a {
    border-right: 1px solid rgb(17, 17, 17);
    padding: 0 .7rem;
    text-decoration: none;
    font-family: 'HelveticaNowText Bold';
    font-size: 12px;
    font-weight: 500;
    color: rgb(17, 17, 17);

}

.nav-links>li>a:hover {
    color: rgb(112, 112, 114);
    border-color: rgb(112, 112, 114);
}

#sign-in {
    border: none;
}


.nike {
    padding: 1rem 3vw;
    width: 100%;
}

.nike-nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
}

#logo {
    height: 2rem;
}

.nav-items {
    display: flex;
    margin-left: 8rem;
    list-style-type: none;
    align-items: start;
}

.nav-items>li {
    margin: 0.7rem;
    padding-bottom: 3px;
    font-family: 'HelveticaNowText Medium';
}

.nav-items > li:hover > .detailed-nav{
    height: 550px;
}

.nav-items>li:hover {
    border-bottom: 2px solid black;
}

.shopping {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: start;
}

.searchBox {
    width: 180px;
    padding: 0;
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
    color: rgb(112, 112, 114);
    font-family: 'HelveticaNowText Medium';
    display: flex;
    height: 2rem;
}

.searchBox:hover {
    background-color: rgb(229, 229, 229);
}

#search-text {
    display: inline-block;
    margin: auto 5px;
}


#mag {
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: .3rem;
    border-radius: 50%;
}

#mag:hover {
    background-color: rgba(202, 202, 203);
}

#cart,
#heart {
    border-radius: 50%;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
}


#cart>img {
    height: 20px;
    margin-left: 3px;
}

#cart:hover,
#heart:hover {
    background-color: rgb(229, 229, 229);
}


.detailed-nav{
    height: 0px;
    width: 100vw;
    margin-top: 1rem;
    position: absolute;
    background-color: white;
    left: 0;
    transition: 300ms;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.list-group{
    margin: 1rem 0;
    width: 15rem;
}

.list-group ul{
    list-style-type: none;
    font-size: 13px;
    font-family: 'HelveticaNowText Medium';
    color: rgb(112, 112, 114);
}

.list-group li:hover{
    color: rgb(17, 17, 17);
}

.list-group li{
    margin: 0.6rem 0;
}

.list-group h6{
    font-size: 16px;
    font-family:  'HelveticaNowText Medium', Helvetica;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 300;
    color: rgb(17, 17, 17);
}

.list-group h6:hover{
    color: rgb(112, 112, 114);
}


.title-video > video{
    width: 100%;
}

.title-text{
    color: rgb(17, 17, 17);
    text-align: center;
}

.title-text > h2{
    font-size: 96px;
    font-weight: normal;
    font-family: FuturaBold;
}

.title-text > h6{
    font-size: 16px;
    font-family: 'HelveticaNowText Regular', Helvetica;
}

.title-text > button{
    background-color: rgb(17, 17, 17);
    color: rgb(245, 245, 245);
    font-family: 'HelveticaNowText Bold';
    padding: .5rem 1rem;
    border-radius: 25px;
    margin-top: 2rem;
    font-size: 16px;
    border: none;
}

.title-text > button:hover{
    background-color: rgb(112, 112, 114);
}

.shop-air{
    margin-top: 4rem;
}

.section-heading{
    font-size: 32px;
    font-family: 'HelveticaNowDisplay Medium';
    font-weight: normal;
}

.air-shoes{
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2rem;
}

.shoe-text{
    font-family: 'HelveticaNowDisplay Medium';
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
}

.featured{
    margin-top: 3rem;
}
.featured-contents{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.featured-content{
    position: relative;
}

.featured-content > img{
    width: 100%;
}

.featured-content .overlay{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: rgb(245, 245, 245);
    font-size: 2rem;
}

.featured-content .overlay > h3{  
    font-family: 'HelveticaNowDisplay Medium';
    font-weight: 100;
}

.featured-content .overlay > button{
    background-color: rgb(245, 245, 245);
    border: none;
    color: rgb(17, 17, 17);
    font-family: 'HelveticaNowDisplay Medium';
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 15px;
}

/* gear up */

.gear-up{
    margin-top: 4rem;
    width: 100%;
}

.gear-up > img{
    width: 100%;
    margin-top: 1rem;
}